*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: white;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1280px;
}